{% extends "TraderBaseTemplate.html" %}

{% block title %}Trading Zone - Login{% endblock %}

{% block content %}

{% if login_failed %}
    <p class="alert-error">Sorry, that's not a valid username/password combination.</p>
{% endif %}

    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Login">
    </form>

    <p>Not a registered user yet?  Easily register
        <a class="btn btn-large btn-primary" href="/register/">
              <i class="icon-comment"></i> Register </a>
    </p>
{% endblock %}
