{# This content template shows the Help form#}

<p>Thank you for visiting caracal.</p>
<p>This site allows you to do several things:</p>
<ul>
    <li>You can view things for sale.
    <li>You can register and get additional functionality when you log in such as:</li>
    <ul>
        <li>You can announce an item for sale.</li>
        <li>You can unleash a caracal hunter.  This hunter will sit and wait for another seller to post an item
        that you are interested in.  For example, if you want a new audio mixer for your jockey job, simply create
        a hunter with the keyword mixer.  Next time someone posts a mixer for sale, say a nice Tascam, you'll get
        email notification as soon as the posting hits the site.
        </li>
    </ul>
</ul>