{# This content template should be included where you want to see the list of sellers. #}
{# REQUIRES:    seller_list : list of Seller #}

{% load i18n %}

<div class="row">

<div class="span4">
    <img src="{{  STATIC_PREFIX }}img/Carocal.png" height="140">
    <p>{% trans "The caracal is a stealth hunter always on the lookout for prey.  That's what you get with" %}
        <span class="caracal">Caracal Hunter</span>
        {% trans "and" %}<span class="trading_zone">The Trading Zone</span>,
        {% trans "a bargain hunter that's always looking out for the best buys for you." %}
    </p>
</div>

<div class="span4 offset1">
    <p>This info is for demo purposes only! It won't be on the live site</p>
    {% for seller in seller_list %}
        {% if forloop.first %}
            <table>
            <tr><thead>Users and Sellers</thead></tr>
            <tr><th>ID</th><th>Name</th><th>email</th></tr>
        {% endif %}
        <tr><td>{{ seller.id }}</td><td>{{ seller.name }}</td><td>{{ seller.email }}</td></tr>
        {% if forloop.last %}
            </table>
        {% endif %}
    {% endfor %}
</div>

</div>
