{# This content template should be included where you want to see the list of items for sale #}
{# REQUIRED: item : an ItemForSale#}
{# REQUIRED: email : contact email#}
{# REQUIRED: body : body of email#}
{# REQUIRED: subject : subject for email#}
{% load i18n %}

<h4>
    {{ item.title }}
</h4>
<p>
    <p>
        {% trans "Price" %}: <span>{{ item.price }}</span>
    </p>
    <p>
        {% trans "Listed" %}: <span>{{ item.listing_date }}</span>
    </p>
    <p>
        {% trans "Description" %}: <span>{{ item.description }}</span>
    </p>
    <p>
        {% trans "Seller" %}: <span><a href="mailto:{{ email }}?subject={{ subject }}&body={{ body }}">
                                    {{ item.seller.name }}</a>
                              </span>
    </p>
</p>
