{# This template should be included in the Home template to get the NavBar #}
{# REQUIRED: user #}


<div class="navBar" xmlns="http://www.w3.org/1999/html">
    <div class="navBar-inner">
        <ul class="nav">
            <li><a href="/home/">Home</a></li>
            <li><a href="/forSaleItems/">For Sale</a></li>
            {% if user.is_authenticated %}
                <li><a href="/searchNotifications/">Notifications</a></li>
                <li><a href="/sellAnItem/">Sell Item</a></li>
                <li><a href="/logout/">Log out</a></li>
            {% else %}
                <li><a href="/login/">Login/Register</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}</p>
        {% endif %}
        <a class="btn btn-small btn-info" href="#">
            <i class="icon-info-sign"></i>Info
        </a>
    </div>
</div>
