<!DOCTYPE html public>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}

    <link rel="stylesheet" href="{{  STATIC_PREFIX }}../static/css/normalize.css">
    <link rel="stylesheet" href="{{  STATIC_PREFIX }}../static/css/themed/bootstrap.min.css">
    <link rel="stylesheet" href="{{  STATIC_PREFIX }}../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{  STATIC_PREFIX }}../static/css/style.css">
</head>
<body>

{%  include "NavBar.htm" %}
<h2>Welcome to the Trading Zone.</h2>

{% block content %}{% endblock %}

{% block footer %}
    <hr>
    <p>Thanks for visiting Caracal.</p>
    <a href="/seed/">Seed Data</a>
    <a href="/admin/">Administration</a>
{% endblock %}
</body>
</html>