<!DOCTYPE html public>
<html>
<head>
    <title>{% block title %}EMPTY TITLE{% endblock %}</title>

    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}

    <link rel="stylesheet" href="{{  STATIC_PREFIX }}../static/css/normalize.css">
{% block theme %}
    <link rel="stylesheet" href="{{  STATIC_PREFIX }}../static/css/bootstrap.css">
{% endblock %}
    <link rel="stylesheet" href="{{  STATIC_PREFIX }}../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{  STATIC_PREFIX }}../static/css/style.css">
</head>
<body>

{% block nav_bar %}
{% endblock %}

<h2>
{% block header %}
    EMPTY HEADER
{% endblock %}
</h2>

{% block content %}
    <p>EMPTY CONTENT</p>
{% endblock %}

<hr>
{% block footer %}
    EMPTY FOOTER
{% endblock %}


</body>
</html>