{% extends "TradingZoneBaseTemplate.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}
    {% blocktrans %}Trading Zone - Clear Blue{% endblocktrans %}
{% endblock %}

{% block theme %}
    <link rel="stylesheet" href="{{  STATIC_PREFIX }}../static/css/themed2/bootstrap.min.css">
{% endblock %}

{% block header %}
    {% trans "Welcome to Clear Blue." %}
    {%  if DEBUG %}
        - {{ debug_text }}
    {% endif  %}
{% endblock %}

{% block content %}
    {% include action_template %}
{% endblock %}

{% block footer %}
    <p>{% trans "Thanks for visiting Clear Blue." %}</p>
    {% if DEBUG %}
        <a href="/admin/">Administration</a>
    {% endif %}
{% endblock %}
